@using ComputerStore.ViewModels;
@model ChangePasswordViewModel
<form asp-action="ChangePassword" method="post">
	<html>
	<head>
		<link rel="stylesheet" href="~/css/stylesInputForm.css">
	</head>
	<body>
		<div class="box" style="margin-top: 25px;">
			<h1>Change Password</h1>
			<label style="color: red;">@TempData["ErrorChangePasswordMessage"]</label>
			<label>Введіть старий пароль: </label>
			<input asp-for="OldPassword" style="width: 70%" type="password">
			<label>Введіть новий пароль: </label>
			<input asp-for="NewPassword" style="width: 70%" type="password">
			<label>Повторіть новий пароль: </label>
			<input asp-for="ConfirmPassword" style="width: 70%" type="password">
			<button type="submit">Change Password</button>
		</div>
	</body>
</html>
</form>