<head>
	<link rel="stylesheet" href="~/css/stylesSupport.css">
</head>
<body>
	<div class="box">
		<a class="myLink" href="https://t.me/aqzouscce" target="_blank">Маєте питання? Натисніть сюди, або зчитайте QR-Code</a>
		<img src="~/Images/Telegram_Image.png" />
		<img class="qr-code-img" src="~/Images/Telegram_QR_Code.png" />
	</div>
</body>
